<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinDemo"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Pagination.PaginationVolleyActivity"
            android:exported="false" />

        <receiver
            android:name=".receiver.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.kotlindemo.ACTION_PLAY" />
                <action android:name="com.example.kotlindemo.ACTION_PAUSE" />
                <action android:name="com.example.kotlindemo.ACTION_NEXT" />
                <action android:name="com.example.kotlindemo.ACTION_PREVIOUS" />
            </intent-filter>
        </receiver>

        <service android:name=".service.MediaPlaybackService" />

        <activity
            android:name=".PlaybackActivity"
            android:exported="false"></activity>
        <activity
            android:name=".FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".VideoViewActivity"
            android:exported="false" />
        <activity
            android:name=".ImageViewerActivity"
            android:exported="false" />
        <activity
            android:name=".FolderImageActivity"
            android:exported="false" />
        <activity
            android:name=".GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".PaginationActivity"
            android:exported="false" />
        <activity
            android:name=".DeleteDataActivity"
            android:exported="false" />
        <activity
            android:name=".UpdatedataActivity"
            android:exported="false" />
        <activity
            android:name=".CRUDActivity"
            android:exported="false" />
        <activity
            android:name=".InsertDataActivity"
            android:exported="false" />
        <activity
            android:name=".VolleyActvity"
            android:exported="false" />
        <activity
            android:name=".VolleyDataFetchingActvity"
            android:exported="false" />
        <activity
            android:name=".nestedRecyclerView.NestedRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".ViewRetroDataActivity"
            android:exported="false" />
        <activity
            android:name=".RetrofitDataFetchingActivity"
            android:exported="false" />
        <activity
            android:name=".ViewContactActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".ArraysActivity"
            android:exported="false" />
        <activity
            android:name=".DomParserActivity"
            android:exported="false" />
        <activity
            android:name=".TabLayoutViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".OptionMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ContextMenuActivity"
            android:exported="false" />
        <activity
            android:name=".AlertDialogActivity"
            android:exported="false" />
        <activity
            android:name=".TabLayoutWithFrameLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".SeekBarActivity"
            android:exported="false" />
        <activity
            android:name=".WebviewActivity"
            android:exported="false" />
        <activity
            android:name=".ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".OptinActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>